{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-end">
    <button  class="btn btn-primary mt-3 " style="margin-right: 6px;"  data-bs-dismiss="modal">Fermer</button>
	<button class="btn  btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
