 {% extends "template.html.twig" %}
 {% block title %}Hello HomeController{% endblock %}
{% block body %}
<div style="text-align: center; padding: 20px;">
    <h1 style="font-size: 24px; color: #333; font-weight: bold;">Bienvenue !</h1>
    <p style="font-size: 18px; color: #666; margin-top: 10px;">Explorez et profitez de notre plateforme pour trouver les meilleures offres de voyages.</p>
</div>
{% endblock %}