{% extends 'template.html.twig' %}

{% block title %}New BonAdresse
{% endblock %}

{% block body %}
	<h1>Ajouter une bonne adresse </h1>

	{{ include('bonadresse/_form.html.twig') }}


{% endblock %}
