{% extends 'template.html.twig' %}

{% block title %}BonAdresse
{% endblock %}

{% block body %}
	<h1>BonAdresse</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ bonadresse.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ bonadresse.title }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ bonadresse.image }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ bonadresse.content }}</td>
			</tr>
		</tbody>
	</table>


{% endblock %}
