{% extends 'template.html.twig' %}

{% block title %}Modifier 
{% endblock %}

{% block body %}
	<h1>Edit Agence</h1>

	{{ include('agence/_form.html.twig', {'button_label': 'Enregistrer'}) }}


{% endblock %}
