{% extends 'template.html.twig' %}

{% block title %}Edit Destination
{% endblock %}

{% block body %}
	<h1>Edit Destination</h1>

	{{ include('destination/_form.html.twig', {'button_label': 'Enregistrer'}) }}


{% endblock %}
